.slickGrid {
    border: solid gray 1px;
}

#controlpanel {
    float: right;
    width: 40em;
    margin-right: 2em;
}

#controlpanel h1 {
    margin-bottom: 1em;
    border-bottom: solid gray 1px;
}